[submodule "ros2_ws/src/real_ws/src/kinect_ros2"]
    path = ros2_ws/src/real_ws/src/kinect_ros2
    url = https://github.com/fadlio/kinect_ros2.git

[submodule "ros2_ws/src/server/src/navigation2"]
    path = ros2_ws/src/server/src/navigation2
    url = https://github.com/ros-navigation/navigation2.git

