[submodule "ros2_ws/src/bot_ws/src/kinect_ros2"]
    path = ros2_ws/src/bot_ws/src/kinect_ros2
    url = https://github.com/pj0620/kinect_ros2.git

[submodule "ros2_ws/src/server_ws/src/navigation2"]
    path = ros2_ws/src/server_ws/src/navigation2
    url = https://github.com/ros-navigation/navigation2.git

[submodule "ros2_ws/src/bot_ws/src/ros2_icm20948"]
    path = ros2_ws/src/bot_ws/src/ros2_icm20948
    url = https://github.com/norlab-ulaval/ros2_icm20948.git
